<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\vasile.gancin\Documents\CompetitionTracker"/>
	</appSettings>
	<connectionStrings>
		<add name="Competitions" connectionString="Server=OCUCOPC1537\LOCALDB; Database=Competitions; Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>